aula = 12/03/2025

:root{
    --white-gray: #f1f5f9;
    --black-gray: #212529;
}

.is-light{
    background-color: var(--white-gray);
    color: var(--black-gray);
}

.is-dark {
    background-color: var(--black-gray);
    color: var(--white-gray);
}
